.button {
    background: none repeat scroll 0 0 #DDDDDD;
    border-color: -moz-use-text-color #666666 #666666 -moz-use-text-color;
    border-style: none solid solid none;
    border-width: 0 1px 1px 0;
    height: 24px;
    margin-right: 5px;
    padding: 3px 6px;
}

#selectRegionList {
	width:500px;
	margin-left:160px;
}

#selectRegionList li {
	width:57px;
	float:left;
	 height: 28px;
}

#selectRegionList li span{
	margin-left:3px;
}

#showSelectRegionList{
	display:none;
}